<!-- <section class="flex">
    <aside class="bg-slate-850 h-screen w-2/12">
        <div class="p-5">
            <h1 class="font-title font-bold text-3xl">Quiz<span class="text-teal-500">Biblio</span></h1>
            <h2 class="uppercase font-bold text-sm text-teal-500">{{'admin.title' | transloco}}</h2>
        </div>

        <nav class="mt-10">
            <ul>
                <li class="flex items-center cursor-pointer text-teal-500 hover:text-teal-200 hover:bg-slate-800 pl-5 py-4 w-full">
                    <ng-icon name="heroUsersSolid" size="2rem" class="mr-8"/>
                    <a routerLink="users" class="text-white text-xl">{{'admin.users.title' | transloco}}</a>
                </li>
                <li class="flex items-center cursor-pointer text-sky-500 hover:text-sky-200 hover:bg-slate-800 pl-5 py-4 w-full">
                    <ng-icon name="heroTagSolid" size="2rem" class="mr-8"/>
                    <a class="text-white text-xl" routerLink="themes">{{'admin.themes.title' | transloco}}</a>
                </li>
                <li class="flex items-center cursor-pointer text-fuchsia-500 hover:text-fuchsia-200 hover:bg-slate-800 pl-5 py-4 w-full">
                    <ng-icon name="heroChartPieSolid" size="2rem" class="mr-8"/>
                    <a class="text-white text-xl" routerLink="stastistics">{{'admin.statistics.title' | transloco}}</a>
                </li>
            </ul>
        </nav>
    </aside>
    <section class="bg-slate-800 h-screen">
        <router-outlet />
    </section>
</section> -->