<a class="rounded-lg relative cursor-pointer group hover:bg-slate-600 transition-colors inline-block md:w-64 md:h-64 overflow-hidden not-sm:max-w-2/3 w-full h-full"
    [ngClass]="color() === 'dark' ? 'bg-slate-800' : 'bg-slate-700'" [routerLink]="targetRoute()">
    <img [src]="(quiz().imageId ? (imageUrl$ | async) : 'svg/gradient.svg')" alt="quiz image"
        class="hidden md:block w-full h-28 object-cover" />

    <svg viewBox="0 0 900 600"
        class="absolute -top-10 left-0 transition-colors group-hover:text-slate-600 hidden md:block w-full"
        [ngClass]="color() === 'dark' ? 'text-slate-800' : 'text-slate-700'" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M0 445L21.5 439.5C43 434 86 423 128.8 432.7C171.7 442.3 214.3 472.7 257.2 482.7C300 492.7 343 482.3 385.8 475C428.7 467.7 471.3 463.3 514.2 461.3C557 459.3 600 459.7 642.8 463.5C685.7 467.3 728.3 474.7 771.2 461.8C814 449 857 416 878.5 399.5L900 383L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z"
            fill="currentColor" stroke-linecap="round" stroke-linejoin="miter"></path>
    </svg>
    <div class="mx-1 z-10 relative text-sm mt-4 flex justify-evenly sm:justify-between ">
        <div class="sm:flex items-center">
            <span class="flex text-left">
                <ng-icon name="heroQueueList" size="1.2em" class="mr-1"></ng-icon>
                <p>
                    {{ quizData.questionCount }}
                    {{
                    quizData.questionCount
                    | i18nPlural : { "=1": "Question", other: "Questions" }
                    }}
                </p>
            </span>
            <p class="sm:border-l-2 text-center md:text-left border-teal-500 ml-2 sm:pl-1 text-teal-500 italic">
                {{ themes }}
            </p>
        </div>
        @if (displayAction()) {
        <div class="flex justify-evenly items-center">
            <a [routerLink]="getPlayQuizUrl()" (click)="playQuiz($event)" type="button"
                class="cursor-pointer hover:text-teal-300">
                <ng-icon name="heroPlayCircle" size="1.5em" />
            </a>
            <button (click)="deleteQuiz($event)" class="text-red-500 hover:text-red-300 cursor-pointer" type="button">
                <ng-icon name="heroTrash" size="1.5em" />
            </button>
        </div>
        }
    </div>
    <div class="mx-2 my-2 sm:text-left">
        <p class="mb-4 mt-2 text-sm" > {{ 'by' | transloco }} <span class="text-teal-200">{{quizData.creatorName}}</span> </p>
        <p class="text-lg font-title font-semibold">{{ quizData.title }}</p>

    </div>
</a>