<div class="bg-slate-700 py-6 px-8 text-white">
    <div class="flex items-center">
        <span class="w-1/12"><app-image-selection></app-image-selection></span>
        <input type="text" placeholder="Question" class="text-2xl bg-slate-600 p-2 mx-2 text-white focus">
    </div>

    <div class="flex mt-2">
        <p class="text-teal-200 mr-4 w-1/12">Answer : </p>
        <textarea class="focus w-full bg-slate-600 p-2" maxlength="255" placeholder="Explain here which answer is correct."></textarea>
    </div>

    <div formArrayName="proposals" class="grid grid-cols-2 justify-items-center mt-5 custom-grid">
        @for (proposal of proposals.controls; track proposal) {
            <!-- <quiz-creation-question-proposal [formGroupName]="$index" [index]="$index"></quiz-creation-question-proposal> -->
        }
    </div>
    <button class="mx-auto block mt-8">
        <ng-icon
        name="heroPlusCircle"
        ></ng-icon>
        Add proposal
    </button>
</div>
