<div class="mx-auto">
    <div class="bg-slate-700 p-5 rounded-md">
        <div class="md:flex text-center mx-auto items-center">
            <img src="svg/gradient.svg" class="w-24 h-24 rounded-md mx-auto md:mx-0">
            <div class="md:ml-8">
                <h2 class="text-2xl">{{question().text}}</h2>
                @if (isValidationStep()) {
                    @if (isCorrect) {
                        <p class="text-teal-500">😎 Correct !</p>
                    }@else {
                        <p class="text-red-500">🥹 Incorrect</p>
                    }
                }
            </div>
        </div>
    
        <div class="md:flex md:justify-evenly my-8">
            @for (proposal of question().proposals; track $index) {
                <label>
                    <input type="checkbox" class="proposal" [id]="'proposal-'+$index" [checked]="isChecked($index)" [disabled]="isValidationStep()">
                    <p class="proposal-label" [ngClass]="getProposalClass($index)" (click)="addToAnswer($index)">
                        {{proposal.text}}
                    </p>
                </label>
            }
        </div>

        @if (isValidationStep()) {
            <div class="mx-5">
                <p class="text-xl text-teal-500">Answer : </p>
                <p>{{question().details}}</p>
            </div>
        }
    </div>
</div>