<div class="max-w-(--breakpoint-lg) mx-auto mt-12">
    <div class="md:flex text-center md:text-left justify-center mx-auto items-center md:ml-16">
        @if (imageUrl() | async; as img) {
        <img [src]="img" class="hidden md:block w-32 h-32 object-cover rounded-full" />
        }@else {
        <img src="svg/gradient.svg" class="hidden md:block w-32 h-32 rounded-full" />
        }
        <div class="md:ml-8 grow">
            <h1 class="text-3xl text-slate-300">{{ quiz.title }}</h1>
            <p class="text-lg text-slate-500 block">
                Theme{{quiz.themes.length>1 ? 's': ''}} : {{ quiz.themes.join(", ") }}
            </p>
        </div>
    </div>

    <div class="mt-8">
        @if (!isQuizInProgress && !finalStep) {
        <button (click)="startQuiz()" type="button"
            class="bg-teal-500 px-8 py-4 rounded-lg mx-auto block hover:bg-teal-400">
            <ng-icon name="heroPlaySolid"></ng-icon>
            Start quiz !
        </button>
        }@else if (finalStep){
        <app-play-final-step [answers]="answers()" [quiz]="quiz" [userScore]="userScore"></app-play-final-step>
        }
        @else {
        <app-play-quiz-question #question [question]="currentQuestion" (answerChange)="onAnswerChange($event)"
            [isValidationStep]="checkStep"></app-play-quiz-question>

        <button (click)="checkStep ? nextQuestion() : validateQuiz()" type="button" [disabled]="!hasAnswered"
            class="bg-teal-500 px-8 cursor-pointer py-4 rounded-lg block !:disabled:hover:bg-teal-400 md:ml-auto mx-auto my-8 disabled:bg-teal-800 disabled:text-slate-800">
            <ng-icon [name]="checkStep ? 'heroForwardSolid' : 'heroCheckSolid' "></ng-icon>
            {{ checkStep ? 'Next' : 'Validate' }}
        </button>
        }
    </div>

</div>