<div class="max-w-(--breakpoint-lg) mx-auto mt-12">
    <div class="md:flex text-center md:text-left justify-center mx-auto items-center md:ml-16">
        @if (imageUrl() | async; as img) {
        <img [src]="img" class="hidden md:block max-w-64 max-h-64" alt="quiz image" />
        }@else {
        <img src="svg/gradient.svg" class="hidden md:block w-32 h-32 rounded-full" alt="placeholder image" />
        }
        <div class="md:ml-8 grow">
            <h1 class="text-3xl text-slate-300">{{ quiz.title }}</h1>
            <p class="text-lg text-slate-500 block">
                Theme{{quiz.themes.length>1 ? 's': ''}} : {{ themes }}
            </p>
        </div>
    </div>

    <div class="mt-8" translate="no">
        @if (!isQuizInProgress && !finalStep) {
        <button (click)="startQuiz()" type="button"
            class="bg-teal-500 px-8 py-4 rounded-lg mx-auto block hover:bg-teal-400 cursor-pointer">
            <ng-icon name="heroPlaySolid" />
            Start quiz !
        </button>

        <div class="mx-auto text-slate-400 my-5 w-3/4">
            <span class="text-center block mx-auto w-full">
                <ng-icon size="2em" name="heroInformationCircleSolid" />
            </span>
            <ul>
                <li class="list-decimal">For each question, select one or multiple answers (when explicitly asked).</li>
                <li class="list-decimal">User selection is shown with a green outline. To undo a selection, click again on the same answer.</li>
                <li class="list-decimal">You will not gain any point if you do not give exact answer(s).</li>
            </ul>
        </div>

        }@else if (finalStep){
        <app-play-final-step [answers]="answers()" [quiz]="quiz" [userScore]="userScore"></app-play-final-step>
        }
        @else {

        <app-play-quiz-question #question [question]="currentQuestion" (answerChange)="onAnswerChange($event)"
            [isValidationStep]="checkStep" [attr.key]="currentStep()"></app-play-quiz-question>

        <button (click)="handleClick()" type="button" [disabled]="!hasAnswered"
            class="bg-teal-500 px-8 cursor-pointer py-4 rounded-lg block !:disabled:hover:bg-teal-400 md:ml-auto mx-auto my-8 disabled:bg-teal-800 disabled:text-slate-800">
            <ng-icon [name]="checkStep ? 'heroForwardSolid' : 'heroCheckSolid' "/>
            <p class="inline" [innerText]="checkStep ? 'Next' : 'Validate'"></p>
        </button>
        }
    </div>

</div>