<div class="lg:max-w-6xl mx-auto text-white mt-8">
    <div class="flex items-center ml-16">
        <img src="svg/gradient.svg" class="rounded-full w-32 h-32">
        <div class="ml-8 flex-grow">
            <h1 class="text-3xl text-slate-300">Quiz title</h1>
            <p class="text-lg text-slate-500 block">Themes: Literature, Cinema</p>
        </div>
    </div>

    <div class="mt-8">
        @if (!quizStarted) {
            <button (click)="onQuizStart()" type="button" class="bg-teal-500 px-8 py-4 rounded-lg mx-auto block hover:bg-teal-400">
                <ng-icon name="heroPlaySolid"></ng-icon>    
                Start quiz !
            </button>
        }@else {
            <!-- <p>Quiz ongoing<p> -->
            <app-play-quiz-question></app-play-quiz-question>
        }
    </div>
</div>