@if ((quiz$() | async); as quiz){
    <h1 class="mt-8 text-xl text-center text-teal-300">{{ 'form.title' | transloco }}</h1>
    <app-quiz-form [quiz]="quiz" [submitPlaceholder]="editPlaceholder" (formSubmit)="onQuizEdition($event)" />
}@else {
    <div class="text-center">
        <img src="svg/404-dark.svg" class="w-72 block mx-auto my-8" alt="not found image">
        <p class="text-xl my-2">{{ 'form.no-quiz' | transloco }}</p>
        <a class="text-md text-teal-400 underline" [routerLink]="['/']" >{{ 'back-to-home' | transloco }}</a>
    </div>
}