.alert{
    position: fixed;
    bottom: 20px;
    right: 20px;

    &.alert{

        &-error{
            @apply dark:bg-red-950 dark:text-red-400 dark:border-red-800;
        }

        &-info{
            @apply dark:bg-blue-950 dark:text-blue-400 dark:border-blue-800;
        }

    }

}


