<div class="lg:max-w-6xl mx-auto text-white">
	<div class="text-center mt-10">
		<div>
			<h1 class="text-2xl font-title font-extrabold">Admin Panel</h1>
			<p class="font-normal mt-2 font-display">Create and edit quizzes</p>
		</div>
		<div>
			<a routerLink="create" routerLinkActive="active"
				class="cursor-pointer flex justify-center mx-auto w-fit mt-2 text-md bg-teal-600 px-4 py-2 rounded-full hover-primary">
				<ng-icon name="heroPlus" size="1.5em" strokeWidth=".12em" class="mr-2"></ng-icon>
				<p>New Quiz</p>
			</a>
		</div>
	</div>

	<div class="text-center mt-10 flex justify-between items-center mx-4">
		<h2 class="text-lg font-title font-bold section-title">My quizzes</h2>
		<div class="flex items-center">
			<button
				class="flex text-sm bg-slate-600 px-4 py-2 items-center rounded-full hover:bg-white hover:text-slate-600 transition-colors duration-150">
				<ng-icon name="heroPlus" size="1.5em" strokeWidth=".12em" class="mr-2"></ng-icon>
				<p>Import</p>
			</button>
			<!-- TODO: Help button -->
			<!-- <button>
              <ng-icon name="heroQuestionMarkCircleSolid" size="1.5em" class="ml-2 text-white"></ng-icon>
          </button> -->
		</div>
	</div>

	<!--Quizzes list -->
	<div class="mt-4 grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 grid gap-2 px-2 text-center">
		@for (quiz of quizList | async; track $index) {
		<app-quiz-list-item [quiz]="quiz" [targetRoute]="['edit',quiz.id]" color="lighter"></app-quiz-list-item>
		<app-quiz-list-item [quiz]="quiz" [targetRoute]="['edit',quiz.id]" color="lighter"></app-quiz-list-item>
		<app-quiz-list-item [quiz]="quiz" [targetRoute]="['edit',quiz.id]" color="lighter"></app-quiz-list-item>
		<app-quiz-list-item [quiz]="quiz" [targetRoute]="['edit',quiz.id]" color="lighter"></app-quiz-list-item>

		} @empty {
		<p class="text-slate-500 text-center mt-8">No quiz found.</p>
		}
	</div>
</div>