<div class="relative w-full">
  <button (click)="toggleDropdown()" class="dropdown" [ngClass]="isDropdownOpen ? 'border-slate-500' : 'border-slate-700'" >
    <div class="flex justify-between">
      <p>
        {{
          selectedOptions.length
            ? selectedOptions.join(", ")
            : "Please select theme(s)"
        }}
      </p>
      <p>
        <ng-icon [name]="isDropdownOpen ? 'heroArrowUp' : 'heroArrowDown'"></ng-icon>
      </p>
    </div>
  </button>
  <div
    *ngIf="isDropdownOpen"
    class="absolute bg-slate-800 shadow-lg z-10 w-full border-r-2 border-b-2 border-l-2 border-slate-500"
  >
    <ul>
      <li *ngFor="let option of options" class="flex p-2">
        <input
          type="checkbox"
          [checked]="selectedOptions.includes(option)"
          (change)="toggleOption(option)"
          class="mr-2 cursor-pointer "
          [id]="option"
        />
        <label class="w-full text-slate-500" [for]="option">{{ option }}</label>
      </li>
    </ul>
  </div>
</div>
