<div class="flex items-center" [formGroup]="formGroup">
  <div>
    <input type="checkbox" [name]="'prop-'+index" formControlName="isCorrect" id="is-valid" class="hidden" >
    <label for="is-valid" class="side-button text-teal-50 text-sm w-12" [class.selected]="isCorrect">
      <ng-icon
        [name]="isCorrect ? 'heroCheckBadgeSolid' : 'heroCheckBadge'"
        size="1.5em"
        strokeWidth=".12em"
      ></ng-icon>
      Valid @if (!isCorrect) {?} 
    </label>
  </div>
  <input formControlName="text" type="text" placeholder="Proposal" class="proposal focus" />
  <input type="button" id="delete">
  <label for="delete">
    <span class="side-button">      
      <ng-icon
        name="heroTrash"
        size="1.2em"
        strokeWidth=".12em"
        class="ml-2 text-red-500"
      ></ng-icon>
    </span>
  </label>
</div>