input {
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
  padding: 8px;
  width: 100%;
  color: white;
  height: 35px;
}


input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgba(31, 41, 55, var(--tw-bg-opacity)) inset !important;
  -webkit-text-fill-color: white !important;
}

.form-input{
  @apply placeholder-slate-600 outline-none my-3;
}
