<section class="flex flex-col items-center lg:mt-48 mt-12">
  <h1 class="pb-2 text-3xl text-center"> {{'auth.register' | transloco}} </h1>
  <p class="text-sm text-center mb-4 font-normal"> {{'auth.register-desc' | transloco}} </p>

  @if (displayMessage) {
    <div class="flex text-center justify-between items-center bg-blue-900 px-4 py-2">
      <ng-icon name="heroInformationCircle" />
      <p class="text-sm">{{'auth.redirection' | transloco}}.</p>
    </div>
  }

  <section class="bg-slate-700 mx-auto py-5 mt-4 px-4 lg:px-14 max-w-64 lg:max-w-sm">
    <form class="form-group" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <label class=" font-bold" for="username"> {{ 'auth.username.text' | transloco }} <span
          class="text-red-500">*</span></label>
      <input class="placeholder-slate-600 bg-slate-800 my-3 focus:outline-teal-700 focus:outline-2 outline-offset-2"
        [ngClass]="{'outline-red-400 outline-2': isUsernameInvalid }" name="username" type="text"
        formControlName="username" [placeholder]="'auth.username.text' | transloco" required autocomplete="name" />
      @if (isUsernameInvalid) {
      <div class="text-red-500 text-sm">
        @if (username?.hasError('required')) {
        <p> {{ 'auth.username.required' | transloco }} </p>
        }
        @if (username?.hasError('minlength')) {
        <p> {{ 'auth.username.minlength' | transloco }}</p>
        }
        @if (username?.hasError('maxlength')) {
        <p> {{ 'auth.username.maxlength' | transloco }}</p>
        }
      </div>
      }
      <label class="font-bold" for="email">Email <span class="text-red-500">*</span></label>
      <input class="placeholder-slate-600 bg-slate-800 my-3 focus:outline-teal-700 focus:outline-2 outline-offset-2"
        [ngClass]="{'outline-red-400 outline-2': isEmailInvalid }" name="email" type="email" formControlName="email"
        placeholder="Email" autocomplete="email" required />
      @if (isEmailInvalid) {
      @if (email?.hasError('required')) {
      <p class="text-red-500">{{'auth.email.required' | transloco}}</p>
      }
      @if (email?.hasError('email')) {
      <p class="text-red-500 font-semibold">{{'auth.email.invalid' | transloco}}</p>
      }
      }
      <label class="font-bold" for="email"> {{'auth.password.text' | transloco}} <span
          class="text-red-500">*</span></label>
      <input class="placeholder-slate-600 bg-slate-800 my-3 focus:outline-teal-700 focus:outline-2 outline-offset-2"
        [ngClass]="{'outline-red-400 outline-2': isPasswordInvalid }" type="password" formControlName="password"
        [placeholder]="'auth.password.text' | transloco" autocomplete="new-password" />
      @if (isPasswordInvalid) {
      @if (password?.hasError('required')) {
      <p class="text-red-500">{{'auth.password.required' | transloco}}</p>
      }
      }
      <button type="submit"
        class="cursor-pointer bg-teal-500 px-8 py-3 mt-5 rounded-md hover:outline-hidden hover:bg-white hover:text-teal-500 block mx-auto w-full outline-hidden focus:bg-white focus:text-teal-500">
        {{'auth.register' | transloco}}
      </button>
    </form>
  </section>
  <span class="font-display text-sm my-2"> {{'auth.account-exist' | transloco}} <a routerLink="/login"
      class="hover:underline cursor-pointer"> {{ 'auth.login' | transloco}} </a></span>
</section>