<section class="flex flex-col items-center mt-48">
    <section class="bg-gray-700 mx-auto py-5 font-bold px-14 max-w-sm">
      <h1 class="text-white pb-5 text-3xl text-center">Register</h1>
      <p class="text-sm text-white text-center mb-5 font-normal">Create an account to play quizzes!</p>
      <form class="form-group" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <label class="text-white" for="username">Username <span class="text-red-500">*</span></label>
        <input
          class="form-input"
          name="username"
          type="text"
          formControlName="username"
          placeholder="Username"
          required
          autofocus
        />
        @if (username?.invalid && (username?.dirty || username?.touched)) {
            <div class="text-red-500 text-sm">
                @if (username?.hasError('required')) {
                  <p>Username fied is required.</p>
                }
                @if (username?.hasError('minlength')) {
                    <p>Username fied must be greater than 3 characters.</p>
                }
                @if (username?.hasError('maxlength')) {
                    <p>Username fied must be lower than 20 characters.</p>
                }
            </div>
          }
        <label class="text-white" for="email">Email <span class="text-red-500">*</span></label>
        <input
          class="form-input"
          name="email"
          type="email"
          formControlName="email"
          placeholder="Email"
          required
        />
        @if (email?.invalid && (email?.dirty || email?.touched)) {
          @if (email?.hasError('required')) {
            <p class="text-red-500">Email fied is required.</p>
          }
          @if (email?.hasError('email')) {
            <p class="text-red-500 font-semibold">Email is invalid</p>
          }
        }
        <label class="text-white" for="email">Password <span class="text-red-500">*</span></label>
        <input
          class="form-input"
          type="password"
          formControlName="password"
          placeholder="Password"
        />
        @if (password?.invalid && (password?.dirty || password?.touched)) {
          @if (password?.hasError('required')) {
            <p class="text-red-500">Password fied is required.</p>
          }
        }
        <button
          class="text-white bg-teal-500 px-8 py-3 mt-5 rounded-md hover:outline-none hover:bg-white hover:text-teal-500 block mx-auto w-full outline-none focus:bg-white focus:text-teal-500"
        >
          Register
        </button>
      </form>
    </section>
    <span class="font-display text-white text-sm my-2">You already have an account? <a routerLink="/login" class="hover:underline cursor-pointer">Log in</a></span>
  </section>