<table class="border-slate-500 border-x-2 p-2 border-y-2 w-2/3 mx-auto mt-8">
	<thead>
		<tr>
			<th scope="col" class="border-slate-500 border-x-2 p-2 border-y-2">Rank</th>
			<th scope="col" class="border-slate-500 border-x-2 p-2 border-y-2">Player Name</th>
			<th scope="col" class="border-slate-500 border-x-2 p-2 border-y-2">Points</th>
		</tr>
	</thead>
	<tbody>
		@for (score of scores(); track $index) {
		<tr class="border-slate-500 border-x-2 p-2 odd:bg-slate-700">
			<th scope="row" class="bordered text-teal-500 font-bold">{{ getRank($index) }}</th>
			<td class="border-slate-500 border-x-2 p-2">{{ score.userName }}</td>
			<td class="border-slate-500 border-x-2 p-2 text-center">{{ score.score }}</td>
		</tr>
		}
	</tbody>
</table>
