<section class="flex">
    <aside class="bg-slate-850 h-screen w-2/12 relative">
        <div class="p-5">
            <a routerLink="/admin" class="font-title font-bold text-3xl">Quiz<span class="text-teal-500">Biblio</span></a>
            <h2 class="uppercase font-bold text-sm text-teal-500">{{'admin.title' | transloco}}</h2>
        </div>

        <nav class="mt-10 h-max">
            <a routerLink="users" class="flex items-center cursor-pointer text-teal-500 hover:text-teal-200 hover:bg-slate-800 pl-5 py-4 w-full">
                <ng-icon name="heroUsersSolid" size="2rem" class="mr-8"/>
                <p class="text-white text-xl">{{'admin.users.title' | transloco}}</p>
            </a>
            <a routerLink="themes" class="flex items-center cursor-pointer text-sky-500 hover:text-sky-200 hover:bg-slate-800 pl-5 py-4 w-full">
                <ng-icon name="heroTagSolid" size="2rem" class="mr-8"/>
                <p class="text-white text-xl">{{'admin.themes.title' | transloco}}</p>
            </a>
            <a routerLink="/" class="block absolute bottom-4 left-1/2 -translate-x-1/2 text-xl
                w-max cursor-pointer bg-teal-500 transition-colors hover:bg-white hover:text-teal-500 text-slate-800 px-8 py-4 rounded-xl mx-auto
                ">
                Back to app
            </a>
        </nav>
    </aside>
    <section class="bg-slate-800 h-screen">
        <router-outlet />
    </section>
</section>