<form
  [formGroup]="form"
  class="text-white my-12 max-w-screen-xl mx-auto"
  (ngSubmit)="onSubmit()"
>
  <div class="flex mb-10 ml-12">
    <div class="mx-20 my-auto">
      <app-image-selection [color]="'secondary'"></app-image-selection>
    </div>
    <div class="w-1/2 p-4">
      <textarea
        id="title"
        formControlName="title"
        placeholder="Quiz title"
        class="p-4 text-white w-full bg-slate-700 text-2xl focus placeholder-slate-500"
        maxlength="110"
      ></textarea>
      <div class="text-red-400" *ngIf="title?.invalid && (title?.dirty || title?.touched)">
        <div *ngIf="title?.hasError('required')">
          <p>Please add a title.</p>
        </div>
      </div>
    </div>
  </div>

  <app-theme-dropdown></app-theme-dropdown>

  @for (question of questions.controls; track question.value) {
  <create-question
    [questionIndex]="$index"
    (questionRemoval)="onQuestionRemoval($event)"
  ></create-question>
  } @if (questions.length < MAX_QUESTION_COUNT) {
  <button
    class="text-2xl text-teal-500 block hover:text-teal-300"
    (click)="addQuestion()"
  >
    <ng-icon name="heroPlusCircle"></ng-icon>
    Add question
  </button>
  }

  <button
    type="submit"
    [disabled]="form.invalid"
    class="!disabled:cursor-pointer block ml-auto bg-teal-500 px-5 py-3 hover:bg-white hover:text-teal-500 transition-colors 
    disabled:hover:text-teal-950 disabled:bg-teal-900 disabled:text-teal-950"
  >
    <ng-icon
      size="1.5em"
      strokeWidth=".12em"
      name="heroBeakerSolid"
      class="!align-middle mr-2"
    ></ng-icon>
    <p class="text-xl inline">Create quiz</p>
  </button>
</form>

<p class="text-white">{{ form.value | json }}</p>
