<form [formGroup]="form" class="text-white my-12 max-w-screen-xl mx-auto">
  <div class="flex justify-center mb-10">
    <div class="mx-10 my-auto">
      <app-image-selection [color]="'secondary'"></app-image-selection>
    </div>
    <textarea
      id="title"
      formControlName="title"
      placeholder="Quiz title"
      class="p-4 text-white bg-slate-700 text-2xl focus w-1/2 placeholder-slate-500"
      maxlength="110"
    ></textarea>
  </div>

  @for (question of questionsArray.controls; track $index) {
    <create-question [questionIndex]="$index"></create-question>
    }
</form>

<p class="text-white">{{ form.value | json }}</p>
