<h1 class="text-center text-2xl text-teal-200 mx-2">{{ 'play.quiz-completion' | transloco }}</h1>
<p class="text-center my-2">{{ 'play.total-score' | transloco }} {{userScore()}} / {{quiz().questions.length}}</p>

@if ((isAuthenticated$ | async) === false) {
    <div class="text-center mx-auto w-1/2">
        <p>Voulez-vous sauvegarder votre score ?</p>
    
        <div class="md:flex justify-between items-center">
            <a (click)="authenticate()" [routerLink]="['/login']" [state]="{ 'fromQuiz': true }"
                [queryParams]="{redirectUrl: currentRoute}"
                class="text-center bg-slate-500 text-teal-50 px-4 py-2 mt-4 rounded-xl mx-auto cursor-pointer hover:bg-slate-300 hover:text-black">{{
                'auth.login' | transloco }}</a>
            <a (click)="authenticate()" [routerLink]="['/register']" [state]="{ 'fromQuiz': true }" [queryParams]="{redirectUrl: currentRoute}"
                class="text-center bg-slate-700 text-teal-50 px-4 py-2 mt-4 rounded-xl mx-auto cursor-pointer hover:bg-slate-600">{{
                'auth.register' | transloco }}</a>
        </div>
    </div>
}

@for (answer of answers(); track $index) {
<div class="md:flex justify-center items-center mt-4">
    <div class="mr-4 mb-2 text-teal-500 text-center max-md:flex justify-evenly items-center">
        <p>{{ 'play.question' | transloco }}</p>
        <p class="text-center text-4xl">#{{getIndex($index)}} </p>
    </div>
    @let question = getQuestionByIndex($index);
    <div class="md:flex w-full justify-between md:w-2/3 bg-slate-700 px-8 py-4 rounded-xl">
        <div class="md:max-w-4/6">
            <p class="text-xl">{{question?.text}}</p>
            <p class="text-slate-300">{{question?.details}}</p>
        </div>
        <div class="flex items-center md:w-3/6">
            <div class="mx-auto items-center">
                <p class="mr-2 text-center">{{ 'play.given-answer' | transloco }}</p>
                <span class="flex items-center justify-evenly flex-wrap-reverse"
                    [ngClass]="isAnswerCorrect($index) ? 'text-teal-500' : 'text-red-500'">
                    <ul class="w-2/3">
                        @for (answer of getSelectionForQuestion($index); track $index) {
                        <li class="list-disc">
                            {{answer}}
                        </li>
                        }
                    </ul>
                    <ng-icon size="2em" [name]="isAnswerCorrect($index) ? 'heroCheckCircle' : 'heroXMark'" />
                </span>
            </div>
        </div>
    </div>
</div>
}

<a [routerLink]="['/']"
    class="text-center bg-teal-500 text-teal-50 px-8 py-6 rounded-xl block w-fit mx-auto cursor-pointer my-16 hover:bg-teal-300">{{
    'back-to-home' | transloco }}</a>