<div [formGroup]="form" class="text-center w-1/2 mx-auto">
	<p class="mr-8 text-teal-500 font-bold text-xl">{{ 'themes' | transloco }} :</p>
	<div class="mx-auto">
		<app-multiselect
			formControlName="themeSelection"
			[options]="options$ | async"
			[placeholder]="'form.select-themes' | transloco"
			[control]="themeSelection"
			(selectionChange)="onOptionChange($event)"
			[actionPlaceholder]="'form.type-new-theme' | transloco"
			(actionChange)="onThemeCreation($event)"
			[isActionDisabled]="isCooldownActive"
			[maxSelectable]="maxSelectable"
		>
			<div actionContent class="flex items-center justify-center">
				<ng-icon name="heroPuzzlePiece" class="mr-1"></ng-icon>
				<p>{{ 'form.add-theme' | transloco }}</p>
			</div>
		</app-multiselect>
		@if (errorMessage) {
		<p class="text-red-400">{{ errorMessage }}</p>
		}@else {
			<small class="text-slate-400">{{ 'form.max-theme-count' | transloco }} </small>
		}
	</div>
</div>
