<header class="pt-5 mx-auto max-w-(--breakpoint-xl)">
	<div class="mx-8 md:flex justify-between">
		<div class="flex justify-between">
			<a routerLink="" class="font-title font-bold text-3xl">Quiz<span
					class="text-teal-500">Biblio</span></a>
			<button class="md:hidden rounded-lg focus:outline-hidden focus:shadow-outline"
				(click)="toggleMenu()">
				<ng-icon [name]="isOpen ? 'heroXMark' : 'heroBars3BottomRight'" size="1.5em" />
			</button>
		</div>
		<nav class="flex gap-2 mt-2 justify-center flex-col md:flex-row text-center" [class.hidden]="!isOpen">
			@if (userData$ | async; as user) {
			<a class="mx-5 hover:text-teal-100" routerLink="/scoreboard">Scoreboard</a>
			@if (isAdmin(user)) {
				<a class="text-teal-500 mx-5 hover:text-teal-100" routerLink="/admin">Admin Panel</a>
			}			
			<p class="">{{ user.userName }}</p>
			<a (click)="logout()" routerLink="logout"
				class="text-slate-400 mx-5 self-center text-center px-5 font-semibold md:border-l-2 border-slate-400 hover:">Log
				out</a>
			} @else {
			<a routerLink="login" routerLinkActive="active" ariaCurrentWhenActive="page"
				class="text-teal-500 mx-5 self-center text-center px-5 py-2 font-semibold rounded-lg hover:">Log
				in
			</a>
			<a routerLink="register" routerLinkActive="active" ariaCurrentWhenActive="page"
				class="mx-2 bg-teal-500 px-5 py-2 rounded-md hover:bg-white hover:text-teal-500">Register</a>
			}
		</nav>
	</div>
</header>