<div class="relative max-w-md mx-auto">
  <button
    (click)="toggleDropdown()"
    class="p-4 bg-slate-800 border-2 w-full text-left cursor-pointer"
    type="button"
		[ngClass]="{
			'border-red-400': isControlInvalid,
			'border-slate-500': isDropdownOpen && !isControlInvalid,
			'border-slate-700': !isDropdownOpen && !isControlInvalid
		}"
    >
    <div class="flex justify-between">
      <p
        [ngClass]="selectedOptions.length ? 'text-slate-300' : 'text-slate-500'"
        >
        {{ selectedOptions.length ? selectedOptionsList : placeholder() }}
      </p>
      @if (selectedOptions.length === 0) {
        <p>
          <ng-icon
            [ngClass]="isDropdownOpen ? 'text-slate-300' : 'text-slate-500'"
            [name]="isDropdownOpen ? 'heroArrowUp' : 'heroArrowDown'"
          ></ng-icon>
        </p>
      } @else {
        <button (click)="onOptionClear($event)" type="button">
          <ng-icon name="heroXMark"></ng-icon>
        </button>
      }
    </div>
  </button>
  @if (isDropdownOpen) {
    <div
      class="absolute bg-slate-800 shadow-lg z-10 w-full border-r-2 border-b-2 border-l-2 border-slate-500"
      >
      <ul class="max-h-32 overflow-auto custom-scrollbar">
        @for (option of options(); track $index) {
          <li>
            <label
              class="w-full text-slate-500 flex items-center cursor-pointer p-2 hover:bg-slate-700"
              >
              <input
                [id]="option"
                type="checkbox"
                [checked]="selectedOptions.includes(option)"
                (change)="toggleOption(option)"
                [disabled]="isDisabled(option)"
                class="checkbox appearance-none border-2 border-slate-500 before:content-[''] text-teal-500 peer/checkbox disabled:border-slate-600"
                />
                <p class="ml-2 peer-checked/checkbox:text-teal-500 peer-disabled/checkbox:text-slate-600 peer-disabled/checkbox:cursor-not-allowed">{{ option }}</p>
              </label>
            </li>
            } @empty {
            <p class="text-center text-slate-400 my-2">No result found.</p>
          }
        </ul>
        <div class="flex w-full text-center border-t-2 border-slate-500">
          <input
            [(ngModel)]="newItem"
            class="w-4/5 bg-slate-800 placeholder-slate-500 p-2 focus:outline-teal-700 outline-hidden"
            [placeholder]="actionPlaceholder()"
            />
            <button type="submit" (click)="performAction()"
              class="bg-slate-500 text-black w-1/5 hover:bg-slate-300 disabled:bg-slate-700 disabled:text-slate-500 not-disabled:cursor-pointer"
              [disabled]="isActionDisabled() || newItem.length <= 1">
              <ng-content select="[actionContent]"></ng-content>
            </button>
          </div>
        </div>
      }
    </div>
