.checkbox{
    width: 20px;
    height: 20px;
    display: grid;
    place-content: center;

    &::before{
        content: " ";
        width: 8px;
        height: 8px;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 10px 10px;
    }

    &:checked::before{
        transform: scale(1);
    }
}